body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
#maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.5rem;
    padding: 1.5rem;
}
#maincontainer img {
    max-width: 18rem;
    height: auto;
    border-radius: 0.5rem;
}
#maincontainer .mainP {
    max-width: 18rem;
    margin: 0 auto 0 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
#containerStats {
    display: flex;
    border-bottom: 1px hsl(215, 32%, 27%) solid;
    width: 100%;
}
#containerStats p:nth-last-of-type(2){
    color: hsl(178, 100%, 50%);
}

#containerStats p:nth-of-type(1)::before{
    content: url('/images/icon-ethereum.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
#containerStats p:nth-of-type(2)::before{
    content: url('/images/icon-clock.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
#containerStats p:nth-of-type(2){
    margin-left: auto;
}
.attribution{ 
    margin-top: auto;
    color: white;
}

p {
    color: hsl(215, 51%, 70%);
}
h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: auto;
    padding: 0.8rem 0 0.5rem 0;
}
span {
    color: hsl(0, 0%, 100%);
}
#authorContainer {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    padding-top: 0.5rem;
}
#authorContainer img  {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0.5rem 1rem 0 0;
    border: 1px white solid;
    border-radius: 50%;
}
#authorContainer p {
    margin-top: 1rem;
}